<%= image_tag 'photo/logo.png', style:"width:25%; height:10%" %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/welcome">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/trips">My Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destinations">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attractions">Attractions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li>
    </ul>
    <span class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </span>
</nav>


<div class="row" style="padding-top:4%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h2><%= @trip.title %></h2>
<h5><%= @trip.description %></h5>
<br>

<p>Destination:</p>
<p><%= @trip.destination.city %></p>
<img src="<%= @trip.destination.image %>" alt="destination image" height=150 width=300>
<br>
<br>
<p>Departure Date:</p>
<p><%= @trip.reformat_date %></p><br>

<%= button_to 'Edit Trip', edit_trip_path(@trip), method: :get, class:'btn btn-md btn-secondary'%>
<%= button_to 'Delete Trip', trip_path(@trip), method: :delete, class:'btn btn-md btn-secondary', data: {confirm: "Are you sure?"}%>



</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->
