
<h2><%= @trip.title %></h2>
<h5><%= @trip.description %></h5>
<br>

<p>Destination:</p>
<p><%= Destination.find(@trip.destination_id).city %></p><br>
<br>
<p>Departure Date:</p>
<p><%= @trip.departure_date %></p><br>

<%= button_to 'Delete Trip', trip_path(@trip), method: :delete, data: {confirm: "Are you sure?"}%>
