<div class="row" style="padding-top:10%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h1>Sign Up</h1>

<%= form_for @user do |f|%>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br><br>

  <%= f.label :first_name%><br>
  <%= f.text_field :first_name%><br><br>

  <%= f.label :last_name%><br>
  <%= f.text_field :last_name%><br><br>

  <%= f.label :location%><br>
  <%= f.text_field :location%><br><br>

  <%= f.label :password%><br>
  <%= f.password_field :password%><br><br>
  <%= f.label :password_confirmation%><br>
  <%= f.password_field :password_confirmation%><br><br>
  <%= f.submit :Submit, class:'btn btn-md btn-secondary'%><br><br>
<%end%>
<%= button_to "Home", '/welcome', class:'btn btn-md btn-secondary', method: :get%>

<ul>
<%if @user.errors.any?%>
  <%@user.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
  <%end%>
<%end%>
</ul>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->
