<div class="row" style="padding-top:10%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h1>Destinations</h1>
<br>
<h3>Most Popular Destination</h3>
<div class="card mb-3">
<img src="<%= Trip.most_pop_dest_instance.image%>" class="card-img-top", alt="most_popular_dest_image">
<div class="card-body">
<h5 class="card-title"><%= link_to Trip.most_pop_dest_city, destination_path(Trip.most_pop_dest_instance) %></h5>
</div>
</div>


<div class="btn-group" role="group" aria-label="Basic example">
<%= button_to "My Trips", '/trips', class:"btn btn-md btn-secondary", method: :get%></button>
<%= button_to "Home", '/welcome', class:"btn btn-md btn-secondary", method: :get%></button>
</div>
<br><br>

<h3>All Destinations</h3>
<ul class="list-group list-group-flush">
<% @destinations.each do |dest|%>
<li class="list-group-item"><h5><%= link_to dest.city, destination_path(dest) %></h5></li>
<%end%>
</ul>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->
