<%= image_tag 'photo/logo.png', style:"width:25%; height:10%" %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/welcome">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/trips">My Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destinations">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attractions">Attractions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li>
    </ul>
    <span class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </span>
</nav>



<div class="row" style="padding-top:5%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h1>Destinations</h1>
<br>
<h3>Most Popular Destination</h3>
<div class="card mb-3">
<img src="<%= Trip.most_pop_dest_instance.image%>" class="card-img-top" style:"width:50%; height:30%", alt="most_popular_dest_image">
<div class="card-body">
<h5 class="card-title"><%= link_to Trip.most_pop_dest_city, destination_path(Trip.most_pop_dest_instance) %></h5>
</div>
</div>


<div class="btn-group" role="group" aria-label="Basic example">
<%= button_to "My Trips", '/trips', class:"btn btn-md btn-secondary", method: :get%>
<%= button_to "Home", '/welcome', class:"btn btn-md btn-secondary", method: :get%>
</div>
<br><br>

<h3>All Destinations</h3>
<ul class="list-group list-group-flush">
<% @destinations.sort_alphabetically.each do |dest|%>
<li class="list-group-item"><h5><%= link_to dest.city, destination_path(dest) %></h5></li>
<%end%>
</ul>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->
