<div class="row" style="padding-top:10%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h1>Attractions</h1><br>

<h3>Top Rated Attraction</h3><br>
<h4><%= link_to Attraction.highest_rated_attraction_name, attraction_path(Attraction.highest_rated_attraction) %></h4>
<img src="<%= Attraction.highest_rated_attraction.image%>" alt="top attraction image" height=150 width=300>
<br>

<div class="btn-group" role="group" aria-label="Basic example">
<%= button_to "My Trips", '/trips', class:"btn btn-md btn-secondary", method: :get%></button>
<%= button_to "Home", '/welcome', class:"btn btn-md btn-secondary", method: :get%></button>
</div><br><br>

<h3>All Attractions</h3>
<ul class="list-group list-group-flush">
<% @attractions.each do |attr|%>
    <li class="list-group-item"><%= link_to attr.name, attraction_path(attr) %></li>
<%end%>
</ul>
<br>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->

