<div class="background">
<%= image_tag 'photo/logo2.png', style:"width:25%; height:10%" %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/welcome">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%if logged_in?%>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/trips">My Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/destinations">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attractions">Attractions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li>
    </ul>
    <span class="nav-item">
      <%= link_to "Logout", '/logout', method: :delete %>
    </span>
    <%else%>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/new">Sign Up</a>
        </li>
      </ul>
    <%end%>
</nav>


<div class="row" style="padding-top:5%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h1 class="text-white"><%= @attraction.name %></h1>
<h4 class="text-white"><%= @attraction.description %></h4>

<img src="<%= @attraction.image %>" alt="attraction picture" width="600" height="300">
<br><br>

<h3 class="text-white">Reviews</h3>

<h4 class="text-white"><%= @attraction.average_rating %></h4>

<ul class="list-group list-group-flush">
<% @attraction.reviews.each do |review|%>
    <li class="list-group-item"><%= link_to review.title, review_path(review) %> Rating: <%= review.rating %>/5</li>
<%end%>
</ul>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
<%= button_to "Create Review", '/reviews/new', class:"btn btn-md btn-secondary", method: :get%></button>
<%= button_to "City Page", destination_path(@attraction.destination_id), class:"btn btn-md btn-secondary", method: :get %></button>
</div>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->
