<div class="row" style="padding-top:10%;">
<div class="col"></div>
<div class="col-md-7 text-center">

<h1><%= @attraction.name %></h1>
<h4><%= @attraction.description %></h4>

<img src="<%= @attraction.image %>" alt="attraction picture" width="600" height="300">
<br><br>

<h3>Reviews</h3>

<h4>Average <%= @attraction.average_rating %>/5 Stars</h4>

<ul class="list-group list-group-flush">
<% @attraction.reviews.each do |review|%>
    <li class="list-group-item"><%= link_to review.title, review_path(review) %> Rating: <%= review.rating %>/5</li>
<%end%>
</ul>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
<%= button_to "Create Review", '/reviews/new', class:"btn btn-md btn-secondary", method: :get%></button>
<%= button_to "All Attractions", '/attractions', class:"btn btn-md btn-secondary", method: :get%></button>
<%= button_to "City Page", destination_path(@attraction.destination_id), class:"btn btn-md btn-secondary", method: :get %></button>
</div>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->